{{ partial "components/hero" (dict "title" "Dr Nick Lilic" "tagline" "Head, Neck and Rhinology Surgeon" "fullImage" "/imgs/hero.png") }}

<section class="bg-grey-dark white animated fadeIn delay-1s">
    <div class="container">
        <div class="for-tablet-portrait-up">
            <div class="grid two gap20">
                
                <div>
                    <p>Nick Lilic is a New Zealand trained specialist Otolaryngologist, Head and Neck Surgeon who grew up in Auckland. After graduating from the University of Auckland with Distinction, he completed surgical training and was awarded Fellowship of the Royal Australasian College of Surgeons.
                    <p>Nick undertook fellowship training in Edinburgh in head and neck oncological and thyroid surgery. He also attained a Masters of Science from the University of London. Following this, he completed a prestigious fellowship in Auckland, developing expertise in treatment and reconstruction of advanced skin cancer, thyroid cancer, and cancers of the oral cavity, sinonasal cavity and throat.</p>
                    <div class="for-tablet-landscape-up">
                        <div class="affiliated-logos grid one middle">
                            <div class="grid three force middle">
                                <div><img src="/imgs/logo-acc.jpeg" alt="ACC logo" class="acc"/></div>
                                <div><a href="https://www.nib.co.nz/find-a-provider/profile?id=0035i00000MrD6sAAF" target="_blank"><svg x="0" y="0" width="42px" height="22px" viewBox="2.5 0.2 42 22" aria-labelledby="fd6gML7wIvd" aria-describedby="zXeYLYeq9uz" role="img" fill="#008a20" class="nib">
                                    <title id="fd6gML7wIvd">nib</title>
                                    <desc id="zXeYLYeq9uz">nib logo</desc>
                                    <g><path d="M3.1,21V6.5h5.3v1.8h0.1c1-1.4,2.5-2.2,4.7-2.2c2.6,0,5,1.6,5,4.9v10h-5.5v-7.6c0-1.7-0.2-2.9-1.8-2.9 c-1,0-2.3,0.5-2.3,2.8V21H3.1z M20.4,21V6.5h5.5V21H20.4z M25.9,1v3.9h-5.5V1H25.9z M38.3,13.7c0-1.7-0.5-3.6-2.5-3.6 c-1.9,0-2.4,1.9-2.4,3.6s0.5,3.6,2.4,3.6C37.8,17.3,38.3,15.4,38.3,13.7z M28.1,21V1h5.5v7.1h0.1c0.8-1.3,2.3-2,3.9-2 c4.9,0,6.2,4.1,6.2,7.6c0,3.6-2,7.7-6.1,7.7c-2.7,0-3.5-1.1-4.2-2h-0.1V21H28.1z" class="sc-cOFTSb jVBvUf"></path></g>
                                </svg></a></div>
                                <div><a href="https://healthcare.southerncross.co.nz/specialist/mr-nick-lilic" target="_blank"><img src="/imgs/logo-southen-cross.svg" alt="Southern Cross logo" class="southern-cross" /></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <p>Nick is a consultant surgeon at Auckland City Hospital. He is a lecturer at the University of Auckland and has been actively involved in research throughout his career, publishing a number of textbook chapters and articles in scientific journals covering a full range of ENT problems. He designed and content edited the medical student ENT curriculum website.</p>
                    <p>He also has a keen interest in skin cancer, benign sinus and nasal disease.</p>

                    <p>Dr Nick Lilic is an affiliated Southern Cross, NIB and an ACC provider.</p>
                </div>
            </div>

            <div class="for-tablet-portrait-only">
                <div class="affiliated-logos grid one middle page-center pt-4">
                    <div class="grid three force middle">
                        <div><img src="/imgs/logo-acc.jpeg" alt="ACC logo" class="acc"/></div>
                        <div><svg x="0" y="0" width="42px" height="22px" viewBox="2.5 0.2 42 22" aria-labelledby="fd6gML7wIvd" aria-describedby="zXeYLYeq9uz" role="img" fill="#008a20" class="nib">
                            <title id="fd6gML7wIvd">nib</title>
                            <desc id="zXeYLYeq9uz">nib logo</desc>
                            <g><path d="M3.1,21V6.5h5.3v1.8h0.1c1-1.4,2.5-2.2,4.7-2.2c2.6,0,5,1.6,5,4.9v10h-5.5v-7.6c0-1.7-0.2-2.9-1.8-2.9 c-1,0-2.3,0.5-2.3,2.8V21H3.1z M20.4,21V6.5h5.5V21H20.4z M25.9,1v3.9h-5.5V1H25.9z M38.3,13.7c0-1.7-0.5-3.6-2.5-3.6 c-1.9,0-2.4,1.9-2.4,3.6s0.5,3.6,2.4,3.6C37.8,17.3,38.3,15.4,38.3,13.7z M28.1,21V1h5.5v7.1h0.1c0.8-1.3,2.3-2,3.9-2 c4.9,0,6.2,4.1,6.2,7.6c0,3.6-2,7.7-6.1,7.7c-2.7,0-3.5-1.1-4.2-2h-0.1V21H28.1z" class="sc-cOFTSb jVBvUf"></path></g>
                        </svg></div>
                        <div><img src="/imgs/logo-southen-cross.svg" alt="Southern Cross logo" class="southern-cross" /></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="for-phone-only" x-data="{ open: false }">
            <div>
                <p>Nick Lilic is a New Zealand trained specialist Otolaryngologist, Head and Neck (ENT) Surgeon who grew up in Auckland. After graduating from the University of Auckland with Distinction, he completed surgical training and was awarded Fellowship of the Royal Australasian College of Surgeons.
                <p><a class="btn block" x-on:click="open = ! open" x-show="!open" x-transition>Read More <i class="lni lni-chevron-down"></i></a></p>
            </div> 
            <div x-cloak x-show="open" x-transition.duration.800ms>
                <p>Nick undertook fellowship training in Edinburgh in head and neck oncological and thyroid surgery. He also attained a Masters of Science from the University of London. Following this, he completed a prestigious fellowship in Auckland, developing expertise in treatment and reconstruction of advanced skin cancer, thyroid cancer, and cancers of the oral cavity, sinonasal cavity and throat.</p>
                <p>Nick is a consultant surgeon at Auckland City Hospital. He is a lecturer at the University of Auckland and has been actively involved in research throughout his career, publishing a number of textbook chapters and articles in scientific journals covering a full range of ENT problems. He designed and content edited the medical student ENT curriculum website.</p>
                <p>He also has a keen interest in benign sinus and nasal disease, skin cancer, and paediatric ENT.</p>
            </div>
            <p>Dr Nick Lilic is an affiliated Southern Cross, NIB and an ACC provider.</p>
            <div class="affiliated-logos grid one middle">
                <div class="grid three force middle">
                    <div><img src="/imgs/logo-acc.jpeg" alt="ACC logo" class="acc"/></div>
                    <div><svg x="0" y="0" width="42px" height="22px" viewBox="2.5 0.2 42 22" aria-labelledby="fd6gML7wIvd" aria-describedby="zXeYLYeq9uz" role="img" fill="#008a20" class="nib">
                        <title id="fd6gML7wIvd">nib</title>
                        <desc id="zXeYLYeq9uz">nib logo</desc>
                        <g><path d="M3.1,21V6.5h5.3v1.8h0.1c1-1.4,2.5-2.2,4.7-2.2c2.6,0,5,1.6,5,4.9v10h-5.5v-7.6c0-1.7-0.2-2.9-1.8-2.9 c-1,0-2.3,0.5-2.3,2.8V21H3.1z M20.4,21V6.5h5.5V21H20.4z M25.9,1v3.9h-5.5V1H25.9z M38.3,13.7c0-1.7-0.5-3.6-2.5-3.6 c-1.9,0-2.4,1.9-2.4,3.6s0.5,3.6,2.4,3.6C37.8,17.3,38.3,15.4,38.3,13.7z M28.1,21V1h5.5v7.1h0.1c0.8-1.3,2.3-2,3.9-2 c4.9,0,6.2,4.1,6.2,7.6c0,3.6-2,7.7-6.1,7.7c-2.7,0-3.5-1.1-4.2-2h-0.1V21H28.1z" class="sc-cOFTSb jVBvUf"></path></g>
                    </svg></div>
                    <div><img src="/imgs/logo-southen-cross.svg" alt="Southern Cross logo" class="southern-cross" /></div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="animated fadeIn delay-1s">
    <div class="container">
        <h2 id="services" class="scroll-offset">Services</h2> 

        <p>Nick provides a 'one-stop shop' approach to most problems, including specialist assessment, on-site scans, and biopsies in the same appointment. Ongoing monitoring and follow-up are key components to Nick's approach. Many ENT, head and neck disorders can be treated without surgery. Nick only advises surgery when it is the best treatment option.</p>

            

        <div class="grid three gap60 pt-6">
        <div>

            <div class="grid  gap20">
                <div><img src="/imgs/neck.png" alt="" class="bg-beige" /></div>
                <div>
                    <h3>Head and Neck</h3>
                    <ul class="small">
                        <li>Head and Neck cancer and reconstruction - including throat, larynx and oropharynx</li>
                        <li>Mouth and lip lesions</li>
                        <li>Neck lumps</li>
                        <li>Skin cancer including facial plastics</li>
                        <li>Salivary gland stones, infections and tumours</li>
                        <li>Thyroid and parathyroid disorders</li>
                    </ul>
                </div>
            </div>
        </div>

        <div>
            <div class="grid  gap20">
                <div><img src="/imgs/nose.png" alt="" class="bg-beige" /></div>
                <div>
                    <h3>Rhinology</h3>
                    <ul class="small">
                        <li>Blocked nose - deviated nasal septum and enlarged turbinates</li>
                        <li>Loss of smell</li>
                        <li>Nasal polyps</li>
                        <li>Postnasal drip</li>
                        <li>Rhinitis</li>
                        <li>Sinus disorders</li>
                    </ul>
                </div>
            </div>
        </div>

        <div>
            <div class="grid   gap20">
                <div><img src="/imgs/ent.png" alt="" class="bg-beige" /></div>
                <div>
                    <h3>General ENT</h3>
                    <ul class="small">
                        {{/*  <li>Blocked ear</li>  */}}
                        <li>Snoring and obstructive sleep apnoea</li>
                        <li>Swallowing difficulty</li>
                        <li>Tonsillitis</li>
                        <li>Tonsil stones</li>
                        <li>Voice problems</li>
                    </ul>
                </div>
            </div>
        </div>
        
        {{/*  <div>
            <div class="grid two-tablet-up  gap20">
                <div ><img src="/imgs/child.png" alt="" class="bg-beige" /></div>
                <div>
                    <h3>Children's ENT</h3>
                    <ul class="small">
                        <li>Enlarged tonsils</li>
                        <li>Glue ear</li>
                        <li>Neck lumps</li>
                        <li>Snoring/obstructive sleep apnoea</li>
                        <li>Tonsillitis</li>
                    </ul>
                </div>
            </div>
        </div>  */}}
    </div>

</section>

<!-- <section class="color white pt-6 animated fadeIn delay-1s">
    <div class="container grid one middle py-8 px-2 align-center">
        <h2 class="very-large" id="contact-us">Contact</h2>
        <div class="p-4">
            <a href="mailto: william@sandersonhowe.nz" class="btn xx-large mb-2 mr-1 inline"><i class="far fa-envelope"></i></a>
            <a href="https://www.linkedin.com/company/sanderson-howe/about/" class="btn xx-large mb-2 inline" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</section> -->