html {
    body {
        > header {
            background: $bg-page-header;
            padding: 0 20px;
            font-family: $font-title;
            z-index: 200;
            position: fixed;
            box-sizing: border-box;
            width: 100vw;
            
            a {
                display: block;
            }

            #logo {
                padding: 0;
                font-family: $font-logo;
                font-size: 25px;
                @include for-phone-only {
                    margin: 0 auto;
                }

                #logo-tag-line {
                    font-size: 11px;
                    font-family: $font-body;
                    color: $blue-dark;
                }

                a:hover {
                    text-decoration: none;
                }
            }

            &.right, &.left {

                &.home-header {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    z-index: 100;
                }

                > div {
                    max-width: $max-width;
                    margin: 0 auto;
                    padding: 0;
                    text-align: left;
                    // @include for-tablet-portrait-up {
                    //     padding: 20px 0;
                    // }
                    color: $white;

                    display: grid;
                    grid-template-columns: 1fr;
                    align-items: center;
                    @include for-tablet-portrait-up {
                        grid-template-columns: 1fr 1fr;
                    }

                    > div {
                        &:first-child {
                            max-width: 180px;
                            a {
                                color: $link-light;
                                
                                &:hover {
                                    color: $link-light-hover;
                                }
                            }
                        }
                        &:last-child {
                            text-align: center;
                            @include for-tablet-portrait-up {
                                text-align: right;
                            }
                            nav {
                                ul {
                                    list-style: none;
                                    margin-bottom: 0;

                                    li {
                                        display: inline-block;
                                        margin: 0 10px 0 0;

                                        a {
                                            display: block;
                                            padding: 10px;
                                            color: $link-light;
                                            text-transform: uppercase;
                                            
                                            &:hover {
                                                color: $link-light-hover;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // right
            &.right {

                > div {
                    grid-template-columns: 20% 1fr;
                    @include for-tablet-portrait-up {
                        grid-template-columns: 1fr 20%;
                    }

                    > div {
                        &#logo {
                            order: 2;
                            max-width: 180px;
                            margin: 10px 0 10px auto;

                            a {
                                color: $link-light;
                                
                                &:hover {
                                    color: $link-light-hover;
                                }
                            }
                        }
                        &#main-menu {
                            order: 1;
                            text-align: center;
                            @include for-tablet-portrait-up {
                                text-align: left;
                            }
                            
                            nav {
                                ul {
                                    list-style: none;
                                    margin-bottom: 0;

                                    li {
                                        display: inline-block;
                                        margin-right: 10px;

                                        a {
                                            display: block;
                                            padding: 10px;
                                            color: $link-light;
                                            text-transform: uppercase;
                                            
                                            &:hover {
                                                color: $link-light-hover;
                                            }
                                        }

                                        // &:last-child a {
                                        //     color: $red;
                                        // }
                                    }
                                }
                            }
                        }
                    }
                }
            }
  
            // center
            &.center {
                > div {
                    padding: 10px 0 0 0;

                    @include for-phone-only {
                        max-width: $max-width;
                        margin: 0 auto;
                        padding: 10px 0;
                        text-align: left;
                        color: $white;

                        display: grid;
                        grid-template-columns: 1fr 20%;
                        align-items: center;
                    }

                    #logo {
                        max-width: 300px;
                        margin: 0 auto;
                    }
                    #main-menu {
                        text-align: center;
                        margin: 0 auto;
                        
                        nav {
                            ul {
                                list-style: none;
                                margin-bottom: 0;
                                
                                li {
                                    display: inline-block;
                                    margin-right: 10px;
                                    
                                    a {
                                        display: block;
                                        padding: 10px;
                                        color: $link-light;
                                        
                                        &:hover {
                                            color: $link-light-hover;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
                
        }

        // mobile menu
        nav.phone-only {
            color: $red;

            ul li {
                margin: 0;
            }
            
            #menuToggle {
                display: flex;
                flex-direction: column;
                position: relative;
                z-index: 1;
                -webkit-user-select: none;
                user-select: none;

                input {
                    display: flex;
                    width: 40px;
                    height: 32px;
                    position: absolute;
                    cursor: pointer;
                    opacity: 0;
                    z-index: 2;
                }

                span {
                    display: flex;
                    width: 29px;
                    height: 2px;
                    margin-bottom: 5px;
                    position: relative;
                    background: $black;
                    @include border-radius($border-radius);
                    z-index: 1;
                    transform-origin: 5px 0px;
                    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                            opacity 0.55s ease;
                    &:first-child {
                        transform-origin: 0% 0%;
                    }
                }

                &:nth-last-child(2) {
                    transform-origin: 0% 100%;
                }

                input:checked ~ span {
                    opacity: 1;
                    transform: rotate(45deg) translate(-3px, -1px);
                    background: $black;
                }

                input:checked ~ span:nth-last-child(3) {
                    opacity: 0;
                    transform: rotate(0deg) scale(0.2, 0.2);
                }

                input:checked ~ span:nth-last-child(2) {
                    transform: rotate(-45deg) translate(0, -1px);
                }

                input:checked ~ ul
                {
                    transform: none;
                }
            }
            
            #menu
            {
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                margin: 0;
                padding: 100px 0 0 0;
                background-color: $bg-page-header;
                color: $white;
                -webkit-font-smoothing: antialiased;
                transform-origin: 0% 0%;
                transform: translate(0, -100%);
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
                
                li
                {
                    padding: 10px 0;
                    transition-delay: 2s;
                    display: block !important;
                }
            }
        }
    }
}